@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
  background-color: #262830;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  min-height: 75px;
  padding: 1rem;
  background-color: #262830;
  color: white;
}

.navbar_link {
  padding: 0 0.3rem;
  color: inherit;
}

@media screen and (max-width: 767px) {
  .navbar_links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -100vw;
    bottom: 0;
    height: 100vh;
    width: 0;
    padding: 2rem;
    background-color: #262830;
    visibility: hidden;
    transition: all 0.8s ease-out;
  }
  .show-nav .navbar_links {
    right: 0;
    width: 100vw;
    visibility: visible;
  }
  .navbar_item::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 3vw;
    height: 1px;
    background: white;
  }
  .navbar_item:last-child:after {
    display: none;
  }
  .navbar_link {
    display: block;
    padding: 1.5rem;
    font-size: 5vw;
  }
  .navbar_burger {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
  }
  .navbar_burger:hover {
    cursor: pointer;
  }
  .burger-bar,
  .burger-bar::before,
  .burger-bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background-color: white;
    transition: all 0.5s ease-in-out;
  }
  .burger-bar::before,
  .burger-bar::after {
    content: "";
    position: absolute;
    left: 0;
  }
  .burger-bar::before {
    transform: translateY(-12px);
  }
  .burger-bar::after {
    transform: translateY(12px);
  }
  .show-nav .burger-bar {
    width: 0;
    background: transparent;
  }
  .show-nav .burger-bar::before {
    transform: rotate(45deg);
  }
  .show-nav .burger-bar::after {
    transform: rotate(-45deg);
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #262830;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#c6a45a, #c6a45a);
  border-radius: 10px;
}